/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/packages
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/indexes/posts.index
/.idea
composer.lock
/storage/installed
