/*====================================================
	common styles
====================================================*/
body {
  font-family: Tahoma, Helvetica, Arial, "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 0.9rem;
  color: #505050;
  line-height: 1.75em;
  background: $body-bg;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Tahoma, Helvetica, Arial, "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-weight: 400;
  color: #303030;
}

h1, .h1 {
  font-size: 3em;
}

h2, .h2 {
  font-size: 2.5em;
}

h3, .h3 {
  font-size: 2em;
}

h4, .h4 {
  font-size: 1.5em;
}

h5, .h5 {
  font-size: 1em;
}

h6, .h6 {
  font-size: 0.75em;
}

a {
  color: #00ada7;
  outline: none;
}

a:hover {
  color: #00ada7;
}

a:active, a:focus, a img {
  outline: none;
}

.btn {
  padding: 7px 14px;
  border-radius: 5px;
}

.btn-default {
  border: 1px solid #00ada7;
  background: #00ada7;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.btn-default:hover {
  border: 1px solid #00a5ad;
  background: #00a5ad;
  color: #ffffff;
}

.btn-default:focus {
  outline: none;
}

.btn-default[disabled] {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #fff;
}

.alert {
  ul {
    margin: 0;
  }
}

blockquote {
  border-left: 4px solid #00ada7;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
}

pre {
  padding: 0;
  background: none;
  border: none;
}

pre code {
  border-radius: 5px;
}

iframe {
  border: none;
}

figure {
  margin-bottom: 16px;
}

figcaption {
  text-align: center;
  font-size: 14px;
}

::-moz-selection {
  color: #ffffff;
  background: #00ada7;
  text-shadow: none;
}

::selection {
  color: #ffffff;
  background: #00ada7;
  text-shadow: none;
}

/*====================================================
	header
====================================================*/
#nav {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
  margin-top: 0;

  .navbar-nav {
    .nav-item {


    }
  }

}

.main-header {
  text-align: center;
  padding: 42px 0;
  background: #ffffff;

  .branding {
    font-size: 3.5em;
    font-family: 'Roboto Slab', serif;
    color: #303030;

    &:hover {
      text-decoration: none;
    }

    img {
      max-width: 100%;
    }
  }
}

.navbar {
  margin-bottom: 3rem;
}

.navbar-header {
  text-align: center;

  i {
    height: 56px;
    line-height: 56px;
    font-size: 2em;
    cursor: pointer;
  }
}

.nav-action {
  color: rgba(255, 255, 255, 0.5);

  a {
    color: white;
    outline: none;

    &:hover {
      color: #00ada7;
    }
  }
}

.dropdown-menu a {
  color: #959595;
  outline: none;

  &:hover {
    color: #00ada7;
  }
}

.main-navigation {
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  margin-bottom: 35px;

  .menu {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      position: relative;

      a {
        color: #505050;
        line-height: 4em;
        display: block;
        padding: 0 21px;
        font-family: 'Roboto Slab', serif;
      }

      &:hover > a {
        color: #00ada7;
        text-decoration: none;
      }

      ul {
        visibility: hidden;
        background: #ffffff;
        text-align: left;
        padding: 7px 0px;
        margin: 0;
        position: absolute;
        left: 0;
        top: 120%;
        width: 200px;
        z-index: 999;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: all 0.2s ease;

        li {
          display: block;
          margin: 0;

          a {
            line-height: 2.5em;
            color: #505050;
          }
        }

        &:hover > a {
          color: #00ada7;
        }
      }

      &:hover ul {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
        top: 100%;
      }
    }

    li.nav-current {
      a {
        color: #00ada7;
      }
    }

  }
}

.notification-badge {
  .badge {
    font-size: 12px;
    margin-top: 14px;
  }

  .badge-secondary {
    background-color: #EBE8E8;
  }

  .badge-hint {
    background-color: #d15b47 !important;
  }
}

/*====================================================
	main post area
====================================================*/
.post {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  .featured {
    position: absolute;
    background: #00ada7;
    color: #ffffff;
    text-align: center;
    top: -12px;
    right: -32px;
    width: 80px;
    height: 40px;
    line-height: 54px;
    transform: rotate(45deg);

    i {
      transform: rotate(-45deg);
    }
  }

  .post-head {
    text-align: center;

    .post-title {
      margin: 0;
      line-height: 1.2em;

      a {
        color: #303030;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    .post-meta {
      font-style: italic;
      color: #959595;
      margin-top: 1rem;

      span {
        margin: 0px 7px;
        white-space: nowrap;
      }

      a {
        color: #00ada7;
        outline: none;

        &:hover {
          color: #00ada7;
        }
      }
    }

  }

  .featured-media {
    margin-top: 1rem;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .post-content {
    margin: 30px 0;
    font-size: 16px;

    img {
      max-width: 100%;
      margin-bottom: 14px;
    }

    .kg-embed-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }

    .kg-width-wide, .kg-width-full {
      margin-left: -35px;
      margin-right: -35px;
    }

    .kg-gallery-card {
      margin-top: 28px;
      margin-bottom: 28px;
    }

    .kg-gallery-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 14px;
    }

    .kg-gallery-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .kg-gallery-image img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    .kg-gallery-row:not(:first-of-type) {
      margin: 0.75em 0 0 0;
    }

    .kg-gallery-image:not(:first-of-type) {
      margin: 0 0 0 0.75em;
    }

  }

  .post-action {
    display: flex;
    justify-content: center;

    button {
      background: #fff;
      border: 1px solid #ed5565;

      &:hover {
        background: #ed5565;
        color: #fff;
      }

      &.active {
        background: #ed5565;
        color: #fff;
      }
    }

    button + button {
      margin-left: 10px;
    }

    .btn-circle {
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      border-radius: 25px;
      font-size: 18px;
      line-height: 1.33;
      color: #ed5565;
    }
  }

  .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tag-list {
      color: #959595;
      font-style: italic;
      line-height: 28px;

      a {
        color: #959595;
        margin-left: 7px;

        &:hover {
          color: #00ada7;
        }
      }
    }

    .statistical {
      display: inline-flex;

      div {
        cursor: pointer;
      }

      div + div {
        color: #777;
        margin-left: 10px;
      }
    }

  }
}

#payModal {
  .modal-body {
    .item {
      cursor: pointer;
      text-align: center;
      border: 1px solid #eee;
      margin-bottom: 15px;
      padding: 8px 0;
      border-radius: 5px;

      &.active {
        background: $primary;
        color: #fff;
      }
    }
  }
}

/*====================================================
	pagination
====================================================*/
.pagination {
  margin: 0 0 35px;
  text-align: center;
  display: flex;
  justify-content: center;

  a {
    text-align: center;
    display: inline-block;
    color: #959595;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    &:hover {
      background: #505050;
      text-decoration: none;
      color: #ffffff;
    }

    i {
      width: 36px;
      height: 36px;
      line-height: 36px;
    }
  }

  .page-item.disabled {
    .page-link {
      color: #959595;
      pointer-events: none;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #fff;
    }
  }

  .page-item.active {
    .page-link {
      z-index: 1;
      color: #fff;
      background-color: #00ada7;
      border-color: #fff;

      &:hover {
        z-index: 1;
        color: #fff;
        background-color: #505050;
        border-color: #fff;
      }
    }
  }

  .page-number {
    background: #00ada7;
    color: #ffffff;
    margin: 0 3px;
    display: inline-block;
    line-height: 36px;
    padding: 0 14px;
    border-radius: 2px;
  }
}

/*====================================================
	comment
====================================================*/
.post-author {
  padding: 15px 20px;
  width: 100%;
  background: #fff;
  border-radius: 5px;

  a.trd {
    color: #959595;

    &:hover {
      color: $primary;
    }
  }
}

.post-comment-bar, .post-author {
  padding: 10px 20px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ebebeb;

  span {
    color: #fff;
    background-color: #00ada7;
  }
}

.post-comment {
  background: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border-top: 1px solid #ebebeb;

  .avatar {
    width: 64px;
    height: 64px;
  }

  .user-link {
    color: #777;
  }

  .time {
    color: #999;
    font-size: 0.8rem;
  }

  a {
    text-decoration: none !important;
    color: #00ada7;

    &:hover {
      color: #00ada7;
    }
  }

  .media-body {
    span {
      color: #959595;
      cursor: pointer;

      .favorite {
        margin-right: 15px;

        &:hover {
          color: $primary;
        }
      }

      .favorited {
        color: $primary;
      }

      .reply {
        &:hover {
          color: $primary;
        }
      }

      .delete {
        &:hover {
          color: #c82333;
        }
      }
    }

  }
}

.post-reply {
  background: #fff;
  border-radius: 5px;

  a {
    margin: 0 2px;
    text-decoration: none !important;
    color: #00ada7;

    &:hover {
      color: #3490dc;
    }
  }
}

#comment_tips {
  position: absolute;
  color: green;
  display: none;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
}

/*====================================================
	about author and comment and next-prev link
====================================================*/
.about-author {
  background: #ffffff;
  padding: 35px;
  margin-bottom: 35px;

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .details {
    margin-left: 114px;
  }

  .author {
    font-size: 1.5em;
    margin-bottom: 7px;

    a:hover {
      text-decoration: none;
    }
  }

  .meta-info {
    font-style: italic;
    color: #959595;
    margin-bottom: 7px;

    span {
      margin-right: 14px;
      white-space: nowrap;

      i {
        margin-right: 7px;
      }
    }
  }
}

.comment-wrap {
  background: #ffffff;
  padding: 35px;
  margin-bottom: 35px;
}

.prev-next-wrap {
  margin-bottom: 35px;
  text-align: center;

  a {
    margin-bottom: 7px;
  }
}

/*====================================================
	notification page
====================================================*/
.notification-list {
  li {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
}

/*====================================================
	sidebar
====================================================*/
.sidebar .widget {
  background: #ffffff;
  padding: 21px 30px;
  border-radius: 5px;

  .content {
    #search {
      position: relative;
      top: -27px;
      right: 6px;
      font-size: 16px;
      cursor: pointer;
      color: #777;
    }
  }
}

.main-footer .widget {
  padding: 0px 30px;
}

.widget {
  margin-bottom: 35px;

  .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;

    &:after {
      content: "";
      width: 90px;
      height: 1px;
      background: #00ada7;
      position: absolute;
      left: 0;
      bottom: -1px;
    }
  }

  .social {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 2px 5px 0;
      text-align: center;

      a {
        i {
          width: 35px;
          height: 35px;
          line-height: 35px;
          border: 1px solid #ebebeb;
          color: #959595;
          transition: all 0.2s;
        }

        &:hover i {
          color: #ffffff;
          background: #00ada7;
          border: 1px solid #00ada7;
        }
      }
    }
  }

  .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    transition: all 0.2s ease;

    &:hover {
      color: #ffffff;
      background: #00ada7;
      border: 1px solid #00ada7;
      text-decoration: none;
    }
  }

  .friend-links a {
    padding: 2px 7px;
    border: 1px solid #303030;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    transition: all .2s ease;

    &:hover {
      color: #ffffff;
      background: #00ada7;
      text-decoration: none;
    }
  }

  .recent-post .recent-single-post {
    border-bottom: 1px dashed #ebebeb;
    padding-bottom: 14px;
    margin-bottom: 14px;

    .post-title {
      color: #505050;
      font-family: 'Roboto Slab', serif;
      transition: all 0.2s ease;

      &:hover {
        color: #00ada7;
        text-decoration: none;
      }
    }

    .date {
      font-style: italic;
      color: #959595;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .newsletter .input-group {
    margin-bottom: 10px;
    display: block;

    .email, .btn {
      width: 100%;
    }
  }

  .ad {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  .flkr-widget {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      margin: 0 5px 5px 0;

      a img {
        width: 70px;
        height: 70px;
        transition: all 0.2s;

        &:hover {
          opacity: 0.8;
          filter: alpha(opacity=80);
        }
      }
    }
  }
}

/*====================================================
	Tag page & author page cover
====================================================*/
.cover {
  text-align: center;
  background: #ffffff;
  padding: 35px;
  margin-bottom: 35px;

  .tag-name {
    margin-top: 0;
  }

  .post-count {
    margin-top: 7px;
    color: #959595;
    font-style: italic;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .meta-info {
    color: #959595;
    font-style: italic;

    span {
      margin: 0 7px;

      i {
        margin-right: 7px;
      }
    }
  }

  .bio {
    margin-top: 7px;
  }
}

/*====================================================
	tag and author archive
====================================================*/
.tag-wrapper {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;

  a {
    &:hover {
      text-decoration: none;

      .bg-wrapper {
        .overlay {
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }

    .bg-wrapper {
      background-size: cover;
      background-position: center;
      text-align: center;
      height: 100%;

      .overlay {
        padding: 35px 14px;
        background: rgba(0, 0, 0, 0.3);
        color: #ffffff;
        transition: all 0.2s ease-in-out;
        height: 100%;

        .tag-title {
          color: #ffffff;
        }

        .meta-info {
          i {
            margin-right: 7px;
          }
        }

        .description {
          margin-top: 7px;
        }
      }
    }

    .bg-wrapper.no-image {
      .bg-wrapper {
        .overlay {
          color: #505050;

          .tag-title {
            color: #303030;
          }
        }
      }
    }

  }
}

/*====================================================
	Profile page
====================================================*/
#profile {
  margin-bottom: 3rem;

  .list-group {
    li {
      a {
        text-decoration: none;
        color: #777;
      }

      &.active {
        a {
          color: #fff;
        }
      }
    }
  }
}

/*====================================================
	Footer
====================================================*/
footer {
  width: 100%;

  #footer {
    width: 100%;
    padding: 35px 0;
    background: #202020;
    color: #959595;

    .widget {
      .title {
        color: #ffffff;
        border-bottom: 1px solid #303030;
      }

      .tag-cloud {
        a {
          border: 1px solid #303030;

          &:hover {
            border: 1px solid #00ada7;
          }
        }
      }

      .recent-post {
        .recent-single-post {
          border-bottom: 1px dashed #303030;

          .post-title {
            color: #959595;

            &:hover {
              color: #00ada7;
            }
          }

          .date {
            color: #505050;
          }
        }
      }

    }
  }

  #copyright {
    width: 100%;
    background: #111111;
    text-align: center;
    color: #ffffff;
    padding: 35px 0;
    border-top: 1px solid #303030;

    span {
      color: #959595;
      margin-right: 5px;

      a {
        color: #959595;

        &:hover {
          color: #00ada7;
        }
      }
    }
  }

  #back-to-top {
    position: fixed;
    right: 10px;
    bottom: 20px;
    background: rgba(0, 173, 167, 0.6);
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 1;
    display: none;

    i {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }

    &:hover {
      background: #00ada7;

    }
  }

}

/*====================================================
	media query
====================================================*/
@media (max-width: 767px) {
  .login, .register, .reset {
    margin: 4vh 0;
  }

  .reset-email, .verify {
    margin: 6vh 0;
  }

  .main-navigation {
    text-align: left;

    .menu li {
      display: block;

      &:hover > a {
        color: #00ada7;
        text-decoration: none;
      }

      ul {
        visibility: visible;
        padding: 0 0 0 20px;
        margin: 0;
        position: relative;
        top: 0;
        width: 100%;
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }
  }

  .prev-next-wrap a {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 768px) {
  .login, .register, .reset {
    margin: 8vh;
  }
  .reset-email, .verify {
    margin: 14vh;
  }
  .nav-toggle-button {
    display: none;
  }
}

@media (min-width: 992px) and (min-height: 1100px) {
  //.login-page, .register-page, .reset-page, .password-request-page, .verification-notice-page,
  //.user-edit-page, .user-avatar-page, .user-password-page, .notifications-index-page, .setting-index-page,
  //.category-index-page, .category-create-page, .category-edit-page, .link-index-page, .link-create-page, .link-edit-page, .user-binding-page {
  //  footer {
  //    position: absolute;
  //    bottom: 0;
  //  }
  //}
}

/*====================================================
	Plugin css fix
====================================================*/
div#editor.editormd-fullscreen {
  z-index: 999;
}

button.close {
  outline: none;
}

.tagator_tag {
  background-color: #00ada7 !important;
}

.tagator_tag_remove {
  line-height: 15px !important;

  &:hover {
    color: #fff !important;
    background-color: #00ada7 !important;
  }
}

.tribute-container {
  border-radius: 5px !important;

  ul {
    background: #ebebeb !important;

    li.highlight {
      background: $primary !important;
      color: #fff !important;
    }
  }
}

.swal-button--confirm {
  background-color: $primary !important;

  &:hover {
    background-color: #00a5ad !important;
  }
}
